/themes/
/media/category/
/media/products/
/.env
/db.sqlite3
/.idea/
/static/images/about/
/static/images/appshowcase/
/static/images/author/
/static/images/blocks/
/static/images/blog/
/static/images/clients/
/static/images/events/
/static/images/extras/
/static/images/forms/
/static/images/icons/
/static/images/intro/
/static/images/landing/
/static/images/magazine/
/static/images/modals/
/static/images/others/
/static/images/parallax/
/static/images/portfolio/
/static/images/restaurant/
/static/images/services/
/static/images/shop/
/static/images/slider/
/static/images/team/
/static/images/testimonials/
/static/images/videos/
/static/images/wedding/
