/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.no-resize{
	resize: none
}

.justify-text{
	text-align: justify !important;
}


.nav-services {
	display: block;
	padding: 0.5rem 1rem;
	color: #cc2229;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

.nav-services.active {
	color: #fff;
	background-color: #cc2229;
}

.footer-widget-wrapped {
	position: relative;
	padding: 80px 0 10px 0px;
  }